.form {
  margin-top: 90px;
  width: 90% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "newspaper", "Times New Roman", Times, serif;

  &-label {
    margin-top: 10px;
  }
}

#floatingInput2 {
  margin-top: 20px;
}
.btn-secondary > a {
  text-decoration: none;
  color: white;
}
