.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vw;
    margin-top: 50px;
    font-family: 'newspaper', 'Times New Roman', Times, serif;

    &-form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

#input-with-sx, #input-with-sx-label{
    font-family: 'Times New Roman', Times, serif;
    color: #9A998C;
}